<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Resultados del análisis</title>
</head>
<body>
    <h1>Resultados del análisis</h1>
    <p><strong>Número de caracteres:</strong> {{ caracteres }}</p>
    <p><strong>Número de palabras:</strong> {{ palabras }}</p>
    <p><strong>Número de líneas:</strong> {{ lineas }}</p>
    <hr>
    <h2>Texto extraído:</h2>
    <pre style="white-space: pre-wrap;">{{ texto }}</pre>
    <hr>
    <br>
    <a href="/" class="boton-volver">🔁 Analizar otro archivo</a>

</body>
</html>
